body {
	text-align: center;
	background-color: #333;
}
* {
	margin: 0;
	padding: 0;
}
#app {
	position: relative;
	border-radius: 3px;
	box-shadow: 0 1px 1px white;
	padding: 12px;
	width: 270px;
	height: 270px;
	margin: 100px auto 0;
	background-color: #f2eada;
	transform: scale(1.5);
}
#wrap {
	position: absolute;
	width: 270px;
	height: 270px;
}
#wrap div {
	position: absolute;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 2px 1px #333;
	border-radius: 1px;
	left: 80px;
	top: 0px;
	background-color: #f6f5ec;
}
#wrap span {
	display: inline-block;
	color: #333;
	width: 50px;
	text-align: center;
	font-weight: bold;
}
.l1 {
	height: 48px;
	margin:6px 0 0 0;
	font-size: 48px;
	line-height: 48px;
}
.l2 {
	height: 42px;
	margin:9px 0 0 0;
	font-size: 42px;
	line-height: 42px;
}
.l3 {
	height: 36px;
	margin:12px 0 0 0;
	font-size: 32px;
	line-height: 36px;
}
.l4 {
	height: 32px;
	margin:14px 0 0 0;
	font-size: 24px;
	line-height: 32px;
}
#wrap ._2 {
	background-color: #008792;	
}
#wrap ._4 {
	background-color: #78cdd1;	
}
#wrap ._8 {
	background-color: #00a6ac;
}
#wrap ._16 {
	background-color: #50b7c1;
}
#wrap ._32 {
	background-color: #70aa9f;
}
#wrap ._64 {
	background-color: #508a88;
}
#wrap ._128 {
	background-color: #00ae9d;
}
#wrap ._256 {
	background-color: #f58220;
}
#wrap ._512 {
	background-color: #65c294;
}
#wrap ._1024 {
	background-color: #73b9a2;
}
#wrap ._2048 {
	background-color: #72baa7;
}