body {
	background-color: #ddd;
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
}
#app {
	position: relative;
	border-radius: 3px;
	box-shadow: 0 1px 1px grey;
	padding: 10px;
	width: 180px;
	height: 180px;
	margin: 60px auto;
	background-color: #eee;
}
#wrap {
	position: absolute;
	width: 180px;
	height: 180px;
}
#wrap div {
	position: absolute;
	width: 60px;
	height: 60px;
}